.sidebar {
  height: 100vh !important;
  /*min-height: calc(100vh - 72px) !important;*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.closemenu {
  color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 0px;
  cursor: pointer;
}
.pro-sidebar {
  color: white;
}
.pro-sidebar-inner {
  background-color: black !important;
}
.pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}

.logotext p {
  background-color: fbf4cd;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  overflow-y: hidden;
  font-size: 20px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: bold;
  size: 10px;
}

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  padding: 0 5px;
  background-color: #fbf4cd;
  color: white;
  border-radius: 3px;
  margin: 10px 0px;
  font-weight: bold;
}

.logo {
  padding: 20px;
}

.form-check {
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.5px solid gray;
}
input[type="checkbox"] {
  margin-right: 2rem;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  padding-left: 24px;
  padding-right: 24px;
}

.year-container>div:nth-child(1){
  margin-right: 0.5rem;
}

.year-container>div:nth-child(1){
  margin-right: 0.5rem;
}

.year-container>div>label{
  color:white;
}

.year-container>div>label.Mui-focused{
  color:white;
}


.year-container>div>div>div>button{
  color:white;
}

.year-container>div>div>input{
  color:white;
}

.year-container>div>div>fieldset{
  border-color:white;
}

.year-container>div>div>fieldset.Mui-focused {
  border-color:white !important;
  border-width: 2px;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-sidebar.collapsed
  .pro-menu
  > ul
  > .pro-menu-item.pro-sub-menu
  > .pro-inner-list-item
  > .popper-inner {
  max-height: 100vh;
  overflow-y: auto;
  background-color: #2b2b2b;
  padding-left: 20px;
  border-radius: 4px;
  padding-right: 20px;
}

.pro-inner-list-item.popper-element {
  top: 50px !important;
}
