* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif !important;
}

.navBar {
    background-color: black !important;
    position: relative !important;
   /* position: -webkit-sticky;
    position: sticky;
    top: 0;*/
}

.sign-btn{
    background-color: white !important;
    color:black !important;
    transition: opacity 0.5s;
    margin-left: 1rem !important;
    font-size: 1rem !important; 
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    box-sizing: border-box;
    padding:8px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.sign-btn:hover{
    opacity: 50%;
}

.btn-text {
    margin-left: 0.4rem;
}

@media(max-width:810px){
    .text-navbar{
        font-size: 2.5rem !important;
    }
}

@media(max-width:655px){
    .search-div{
        display: flex;
    }
    .input-search{
        width:100% !important;
    }
}

@media(max-width:375px){
    .btn-text{
        display: none;
    }
}