
.innercontainer {
    display: flex;
}

.upper-div-container{
    display:flex;
    flex-direction: row;
    vertical-align: center;
    margin: 1rem 0.5rem;
}

.moviecontainer {
    width: 100%;    
    position: relative;
}

@media (max-width:375px){
    .moviecontainer{
        align-items: flex-start;
        flex-direction: column;
    }
    .upper-div-container{
        flex-direction: column;
    }
}